<div class="main_component">
  <div class="div-flex">
    <mat-tab-group>
      <mat-tab label="Szeged">
        <mat-card class="div-flex">
          <mat-card-header>
            <mat-card-title>Contacts</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <mat-icon>call</mat-icon>+36 20 123 45 67
            </p>
            <p>
              <mat-icon>email</mat-icon>szeged@cinematown.com
            </p>
            <p>
              <mat-icon>place</mat-icon>Dugonics tér 1.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Budapest">
        <mat-card class="div-flex">
          <mat-card-header>
            <mat-card-title>Contacts</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <mat-icon>call</mat-icon>+36 20 123 45 67
            </p>
            <p>
              <mat-icon>email</mat-icon>budapest@cinematown.com
            </p>
            <p>
              <mat-icon>place</mat-icon>Rákóczi út 1.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
