<div class="main-component">
  <div class="div-flex">
    <mat-card fxLayout fxLayoutGap="20px">
      <mat-card-header>
        <mat-card-title>Change your email address</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="changeEmail" (ngSubmit)="onChangeEmail()">
          <mat-form-field>
            <mat-label for="email">Your email address:</mat-label>
            <input matInput type="text" formControlName="email" value="{{user?.email}}" />
          </mat-form-field>
          <div>
            <span class="buttons">
              <button mat-button (click)="onCancel()">Cancel</button>
            </span>
            <span class="buttons">
              <button mat-raised-button color="primary" type="submit">Save Changes</button>
            </span>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="div-flex">
    <mat-card fxLayout fxLayoutGap="20px">
      <mat-card-header>
        <mat-card-title>Change your name</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="changeName" (ngSubmit)="onChangeName()">
          <mat-form-field>
            <mat-label for="firstName">Your first name:</mat-label>
            <input matInput id="firstName" type="text" formControlName="firstName" value="{{firstName}}" />
          </mat-form-field>
          <mat-form-field>
            <mat-label for="lastName">Your last name:</mat-label>
            <input matInput id="lastName" type="text" formControlName="lastName" value="{{lastName}}" />
          </mat-form-field>
          <div>
            <span class="buttons">
              <button mat-button (click)="onCancel()">Cancel</button>
            </span>
            <span class="buttons">
              <button mat-raised-button color="primary" type="submit">Save Changes</button>
            </span>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
